<!doctype html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/CSS/folder.css"/>
		<link rel="stylesheet" href="/CSS/userarea.css"/>
		<link rel="stylesheet" href="/CSS/folderarea.css"/>
		<link rel="stylesheet" href="/CSS/previewarea.css"/>
		<script src="/JS/folder/remotefiles.js"></script>
		<script src="/JS/folder/localfiles.js"></script>
		<script src="/JS/folder/preview.js"></script>
		<script src="/JS/storage/fileDatabase.js"></script>
		<script src="/JS/storage/exportFile.js"></script>
		<script src="/JS/files/retrivesavedfiles.js"></script>
		<title>Virtual Folder</title>
	</head>
	<body>
		<header>
			<span>RTCopy</span>
		</header>
		<main>	
			<section id="folder-area">
				<div id="scrollable-area">
					<ul id="directory"></ul>
				</div>
			</section>	
		</main>
		<aside id="preview-area">
			<div id="close-button-container">
				<a href="#" id="preview-close-button" onclick='close_preview()'><img src="/icons/cross-svgrepo-com.svg"></a>
			</div>
			<div id="thumb-image-container">
				<img src="/icons/image-combiner-svgrepo-com.svg"> 
			</div>
			<div id="file-infos-container">
				<table>
					<tr>
						<td><strong>name</strong></td>
						<td><span id="preview-filename">name</span></td>
					</tr>
					<tr>
						<td><strong>size</strong></td>
						<td id="preview-filesize">0 kb</td>
					</tr>
					<tr>
						<td><strong>type</strong></td>
						<td id="preview-filetype">data</td>
					</tr>
					<tr>
						<td><strong>owner</strong></td>
						<td id="preview-fileowner">local</td>
					</tr>
				</table>
			</div>
		</aside>
		<script>
			retriveSavedFiles();
			//initclient(folder_name,folder_pass,page_url,chunk_size_bytes,chunk_count);	
		</script>
	</body>
</html>
