<!doctype html>
<html>
	<html>
		<meta charset="UTF-8"/>
		<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
		<script src="/JS/webrtc/signalingserver.js"></script>
		<script src="/JS/webrtc/virtualfolder.js"></script>
		<title>Virtual Folder</title>
	</html>
	<body>
		<header>
			<p>Virtual Folder</p>
		</head>
		<main>
			<div id="user-area">
				<input type="file" id="fileinput"/>	
			</div>
			<div id="remote-files">
			</div>
		</main>
		<script>
			const params = <%- JSON.stringify(params) %>;
			const folder_name = params.folder_name;
			const folder_pass = params.folder_pass;
			const socket = io("http://localhost:7777");
			const client = new signalingClient(socket,folder_name,folder_pass);
			const vfolder = new virtualfolder();
			document.getElementById('fileInput').addEventListener('change', (event) => {
				const file = event.target.files[0];
				if(file)
				{

				}
			});
		</script>
	</body>
</html>
