<!doctype html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="/CSS/folder.css"/>
		<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
		<script src="/JS/webrtc/signalingserver.js"></script>
		<script src="/JS/webrtc/virtualfolder.js"></script>
		<title>Virtual Folder</title>
	</head>
	<body>
		<header>
			<!--<p>Virtual Folder</p>-->
		</header>
		<main>
			<section id="user-area">
				<input type="file" id="fileinput" multiple/>	
			</section>
			<section id="remote-files-area">
				<ul id="directory">
				</ul>
			</section>
			<section id="preview-area">
			</section>
		</main>
		<script>
			const params = <%- JSON.stringify(params) %>;
			const folder_name = params.folder_name;
			const folder_pass = params.folder_pass;
			const socket = io("http://localhost:7777");
			const client = new signalingClient(socket,folder_name,folder_pass);
			const vfolder = new virtualFolder();	
			
			client.onDataChannelOpen = (datachannel,id) => {
				vfolder.add_datachannel(datachannel,id);
			};

			client.onDataChannelMessage = (message,id) => {
				console.log(`Message from ${id} : ${message}`);
				vfolder.handle_datachannel_message(message,id);
			};

			vfolder.onNewRemoteFile = (file,dc_id) => {
				const ul = document.getElementById('directory');
				const li = document.createElement("li");
				const a  = document.createElement("");
				const span = document.createElement("span");
				span.innerHTML = `${file.name}`; 
				a.href = '#';
				a.innerHTML = 'download';
				a.addEventListener('click',(event) =>{
					event.preventDefault();
				});
				li.className = `remote-file-${dc_id}`;
				li.id = `file-${file.file_id}`;
				li.appendChild(span);
				li.appendChild(a);
				ul.appendChild(li);
			};

			vfolder.onNewLocalFile = (file) => {
				const ul = document.getElementById('directory');
				const li = document.createElement("li");
				const a  = document.createElement("a");
				const span = document.createElement("span");
				span.innerHTML = `${file.name}`; 		
				a.href = '#';
				a.innerHTML = 'remove';
				a.addEventListener('click',(event) => {
					event.preventDefault();
					vfolder.delete_local_files([file.file_id]);
					li.remove();
				})
				li.appendChild(a);
				li.appendChild(span);
				li.appendChild(a);
				ul.appendChild(li);	
			};

			vfolder.onRemoteFileRemoval = (file,dc_id) => {
				const query = document.querySelectorAll(`.remote-file-${dc_id}#file-${file.file_id}`);
				query.forEach( element => {element.remove()});
			};

			document.getElementById('fileinput').addEventListener('change', (event) => {
				if(event.target.files)
				{
					vfolder.add_local_files(event.target.files);
				}
			});

			client.init_signaling_client();
		</script>
	</body>
</html>
