<!doctype html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
		<script src="/JS/webrtc/signalingserver.js"></script>
		<script src="/JS/webrtc/virtualfolder.js"></script>
		<title>Virtual Folder</title>
	</head>
	<body>
		<header>
			<p>Virtual Folder</p>
		</header>
		<main>
			<div id="user-area">
				<input type="file" id="fileinput" multiple/>	
			</div>
			<div id="remote-files">
			</div>
		</main>
		<script>
			const params = <%- JSON.stringify(params) %>;
			const folder_name = params.folder_name;
			const folder_pass = params.folder_pass;
			const socket = io("http://localhost:7777");
			const client = new signalingClient(socket,folder_name,folder_pass);
			const vfolder = new virtualFolder();	
			client.onDataChannelOpen = (datachannel,id) => {
				vfolder.add_datachannel(datachannel,id);
			};
			client.onDataChannelMessage = (message,id) => {
				console.log(`Message from ${id} : ${message}`);
				vfolder.handle_datachannel_message(message,id);
			};
			vfolder.onNewRemoteFile = (file,dc_id) => {
				const div = document.getElementById('remote-files');
				const p = document.createElement("p");
				p.innerHTML = `${dc_id} ${file.name}`;
				div.appendChild(p);
			};
			document.getElementById('fileinput').addEventListener('change', (event) => {
				if(event.target.files)
				{
					vfolder.add_local_files(event.target.files);
				}
			});
			client.init_signaling_client();
		</script>
	</body>
</html>
