<!doctype html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" href="/CSS/folder.css"/>
		<script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
		<script src="/JS/webrtc/signalingserver.js"></script>
		<script src="/JS/webrtc/virtualfolder.js"></script>
		<script src="/JS/webrtc/downloadmanager.js"></script>
		<script src="/JS/folder/remotefiles.js"></script>
		<script src="/JS/folder/localfiles.js"></script>
		<script src="/JS/folder/initclient.js"></script>
		<title>Virtual Folder</title>
	</head>
	<body>
		<header>
			<!--<p>Virtual Folder</p>-->
		</header>
		<main>
			<section id="user-area">
				<input type="file" id="fileinput" multiple/>	
				<label for="fileinput" class="fileinput-label">
					<img src="/icons/upload-svgrepo-com.svg" alt="add local file">
				</label>
			</section>
			<section id="folder-area">
				<div id="scrollable-area">
					<ul id="directory"></ul>
				</div>
			</section>
			<section id="preview-area">
			</section>
		</main>
		<script>
			const params = <%- JSON.stringify(params) %>;
			const folder_name = params.folder_name;
			const folder_pass = params.folder_pass;
			initclient(folder_name,folder_pass);	
		</script>
	</body>
</html>
