<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="/CSS/index.css"/>
		<title> RTCopy </title>
	</head>
	<body>
		<main>
			<h1>RTCopy</h1>
			<p>RTCopy is a simple tool that allows users to share files directly from their browsers in a <strong>P2P</strong> fashion.</p>
			<p>Once all users leave a specific room, the room is closed, and all data associated with it is deleted. No files are stored on the server.</p>
		</main>		
		<!--<h1>How to use it</h1>
		<p>Access rtcopy.com/'room_name' to enter a room or create a new one if no room is associated with that name. If you want to use a password, access rtcopy.com/'room_name'/'password'.	</p>
		<p>If you need a room where only the first user to access it is able to share files that will be downloaded by other users, use rtcopy.com/u/'room_name' or rtcopy.com/u/'room_name'/'password'.</p>-->
	<body>
</html>
