@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

body,html{
	height:100%;
	width:100%;
	margin:0;
	background: #8797AF;
	background: radial-gradient(circle, rgba(135, 151, 175, 1) 0%, rgba(86, 102, 122, 1) 100%);
	position:relative;
	display:flex;
	justify-content:center;
	flex-direction:column;
	font-family: "Space Grotesk", sans-serif;
	color:white;
	font-size:1.1em;
}

body {
	  /*https://coolors.co/palette/dad7cd-a3b18a-588157-3a5a40-344e41*/
	  background-image: url("/imgs/bgpattern.svg");
          background-color:white;
          background-repeat: repeat-x;
          background-size: auto 100vh;
}

main{
	background:white;
	color: black;
	margin:auto;
	width:80%;
	border-radius: 12px;
	display:flex;
	padding: 1rem;
	flex-direction:column;
	justify-content:space-between;
}

main h1{
	color:#3A5A40;
}

main a{
	color:white;
}

main div{
	width:100%;
}

div.tabs span{
	background-color:white;
  background: linear-gradient(90deg, red, orange, yellow, green, blue);
	animation: text-slide 5s ease infinite;
}

main nav{
	display:flex;
	flex-direction:row;
	justify-content:space-around;
}

main div#join-folder{
	width:100%;
	display:grid;
	grid-template-columns:60% 30% 10%;
	margin:auto;
}

main div#join-folder *{
	margin-top:1em;
	margin-left:0.2em;
	margin-right:0.2em;
	font-size:1em;
}

main h1{
	text-align:center;
}

@media (max-width: 768px) {
  	main div#join-folder{
		width:100%;
		display:block;
		margin:auto;
	}
	
	main div#join-folder *{
		display:block;
		width:100%;
		text-align:center;
	}

	nav{
		display:grid;
		grid-template-columns: repeat(2, 1fr);
	}
	
	nav a{
		display:block;
	}	
}
