@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

aside#preview-area{
	display:none;
	position:absolute;
	top:0;
	left:0;
	height:100%;
	width:100%;
	background-color:rgba(0.2,0.2,0.2,0.9);
	box-shadow: -10px 4px 10px rgba(0, 0, 0, 0.3);
	font-family: "Space Grotesk", sans-serif;
	font-size: 0.8em;
}

aside#preview-area section div img{
	/*display:none;*/
	height:100%;
}

aside#preview-area section div a{
	margin-left:auto;
} 

aside#preview-area section{
	background:white;
	width:80vw;
	height:80vh;
	border-radius: 10px;
	margin:auto;
	display:flex;
	flex-direction:column;
}

aside#preview-area div#close-button-container{
	height:10%;
}

aside#preview-area div#close-button-container a{
	height:100%;
	float:right;
}

aside#preview-area div#thumb-image-container{
	height:20%;
}

aside#preview-area div#file-infos-container{
	flex-grow:1;
} 

aside#preview-area div#thumb-image-container img{
	margin-left:auto;
	margin-right:auto;
}

aside#preview-area div#file-infos-container table{
	width:20em;
	table-layout:fixed;
}

aside#preview-area div#file-infos-container table td{
	overflow:hidden;
	text-overflow:ellipsis;
}


aside#preview-area div#file-infos-container table td span{
	white-space:nowrap;
}

th:first-child, td:first-child {
	width: 30%;
}

th:last-child, td:last-child {
	width: 70%;
}

@media(max-width:600px){
	aside#preview-area{
		width:100%;
	}
}
