header{
	display:grid;
	height:4rem;
	background-color:#588157;
	grid-template-columns:70% 30%;
}

header div{

}

header label{

}

header div#input-area{
	height:100%;
}

header img{
	height:3rem;
}

input#fileinput{
	display:none;
}

@media(max-width:600px){
}
